body{
    background: #47624d;
    font-family: "Unica One";
}

.home-container {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("puzzle-header.jpg");
  height: 250px;
  width: 100%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  background: #2a4935;
  height: 150px;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
}


section {
  margin-bottom: 40px; /* Adjust the value as needed (e.g., px, em, rem, %) */
  margin-top: 60px;
}

#tips li {
  font-size: 18px;

}

.why-container{
  background-color: beige;
  border-radius: 60px;
  margin-left: 350px;
  margin-bottom: 30px;
}

.why-container p{
  margin-left: 40px;
  margin-right: 5px;
}

.why-container h2{
  margin-left: 150px;
  margin-right: 5px;
}

.puzzle-image{
border-radius: 20px;
margin-bottom: -100px;
margin-left: 15px;
}

.puzzle-container{
   /* background: #fefbea;*/
    border-radius: 15px;
}

.puzzle-container div {
  display: flex; /* Enables flexbox for the container */
  margin-top: 50px;
  display: inline-block; /* Example: distributes space evenly */
}

.puzzle-container img {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite; /* Loop indefinitely */
  animation-timing-function: ease-in-out;
  border-radius: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.column {
  flex: 1; /* Distributes available space equally among columns */
  
}

p{
    font-size: 20px;
    
}

h2{
    color: rgb(194, 194, 199);
    font-family: Arial, Helvetica, sans-serif

}

p button {
  border: none;
  color: rgb(11, 10, 10);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 14px 2px;
  cursor: pointer;
}

nav {
    position: absolute;
    left: 0px;
    top: 10px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
nav li{
  display: inline;
  text-align: center;
  width: 150px; /* Fixed width for each link */
  text-decoration: none;
  padding-right: 40px;
}
nav a {
        color: #060606; /* Sets the color to red using a hex code */
    }

 .my-button {
margin-left: 180px;
  background-color: #080808;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.my-button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.form-container label,input {
  margin-left: 10px;
}

.form-container textarea {
  width: 350px;
  height: 150px;
  align-self: center;
}
